@import "@/services/common.scss";

@mixin pingfang-font($color, $font-size, $font-weight) {
  font-size: $font-size;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: $font-weight;
  color: $color;
}

.index {
  @include gray-back();
  @include flex(column, flex-start);
  background-color: #fff;
  align-items: center;

  .nav-box {
    @include flex(row, space-between);
    width: 100%;
    height: 60px;
    padding-left: 118px;
    padding-right: 118px;
    box-sizing: border-box;
    margin-top: 20px;

    .nav-choosed {
      height: 100%;
      width: 100px;
      @include pingfang-font(#000, 32px, 600);
      border-bottom: 4px solid #000;
    }

    .nav-unchoosed {
      width: 100px;
      @include pingfang-font(#aaa, 32px, 600);
    }
  }

  .null-box {
    width: 488px;
    height: 412px;
    @include flex(column, space-between, nowrap);
    align-items: center;
    margin-top: 50px;

    .null-img {
      width: 468px;
      height: 354px;
    }

    .null-font {
      @include pingfang-font(#333, 32px, 400);
    }
  }

  .order_box {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 32px;
    box-sizing: border-box;
    .order_item {
      width: 100%;
      padding: 32px;
      box-sizing: border-box;
      box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.25);
      border-radius: 20px;
      margin-top: 48px;
      opacity: 1;

      .order_title {
        font-size: 30px;
        font-family: PingFang SC-Regular, PingFang SC;
        font-weight: 400;
        color: #333333;
        display: block;
        margin-left: 10px;
      }
      .order_line {
        margin-top: 18px;
        width: 100%;
        height: 0px;
        opacity: 1;
        border: 2px solid #CCCCCC;
      }
      .order_place {
        font-size: 32px;
        font-family: PingFang SC-Semibold, PingFang SC;
        font-weight: 600;
        color: #333333;
        margin-top: 28px;
        display: block;
      }
      .order_tip_box {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .order_tip_title {
          font-size: 30px;
          font-family: PingFang SC-Regular, PingFang SC;
          font-weight: 400;
          color: #AAAAAA;
          display: block;
        }
        .order_tip_text {
          font-size: 32px;
          font-family: PingFang SC-Semibold, PingFang SC;
          font-weight: 600;
          color: #333333;
          display: block;
          margin-left: 18px;
        }
      }
    }
  }
}
