@import "@/services/common.scss";

@mixin apple-font($color, $font-size, $font-weight) {
  font-size: $font-size;
  font-family: Apple SD Gothic Neo-Bold, Apple SD Gothic Neo;
  font-weight: $font-weight;
  color: $color;
}

@mixin pingfang-font($color, $font-size, $font-weight) {
  font-size: $font-size;
  font-family: PingFang SC-Semibold, PingFang SC;
  font-weight: $font-weight;
  color: $color;
}

.page-time-select {
  @include gray-back();
  @include flex(column, flex-start, nowrap);
  align-items: center;

  .current-doctor {
    @include flex(column, flex-start, nowrap);
    width: 94%;
    height: 368px;
    padding: 40px;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 40px;
    margin-bottom: 40px;
    margin-top: 24px;

    .doctor {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      margin-bottom: 32px;
      
      .doctor-details {
        @include flex(column, flex-start, nowrap);
        flex: 1;
        width: 0;

        .level {
          @include flex(row, flex-start, nowrap);
          align-items: center;
          justify-content: space-between;
        }
      }
    }

    .expert-at {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      margin-bottom: 32px;

      .tag-wrapper {
        align-self: flex-start;
        margin-right: 12px;
      }

      .desc {
        flex: 1;
      }
    }

    .current-visiting {
      @include flex(row, flex-start, nowrap);
      align-items: center;
      margin-bottom: 32px;

      .tag-wrapper {
        align-self: flex-start;
        margin-right: 12px;
      }
      
      .desc {
        flex: 1;
      }
    }
  }

  .select-time {
    @include flex(row, flex-start, nowrap);
    align-items: center;
    align-self: flex-start;
    margin-bottom: 24px;
    margin-left: 24px;

    text {
      margin-left: 12px;
    }
  }

  .pick-date {
    max-width: 100%;
    @include flex(row, flex-start, nowrap);
    align-items: center;
    overflow: auto;
    margin-bottom: 32px;
    margin-left: 32px;

    .date-item {
      @include flex(column, flex-start, nowrap);
      align-items: center;
      box-sizing: border-box;
      background: #FFF;
      border-radius: 20px;
      flex: 0 0 120px;
      height: 200px;
      padding: 20px;
      justify-content: space-around;
      border: #2574FF 1px solid;

      .week {
        @include pingfang-font(#333333 , 36px, 500);
      }

      .date {
        @include pingfang-font(#000000 , 26px, 400);
      }
      
      .status {
        @include pingfang-font(#0038FF , 26px, 500);
      }

      .disabled {
        @include pingfang-font(#5E5E5E , 26px, 500);
      }
    }
  
    .picked {
      background-color: #C8DBFF;
    }

    .date-item + .date-item {
      margin-left: 32px;
    }
  }

  .current-place {
    @include flex(column, flex-start, nowrap);
    width: 94%;
    height: 328px;
    padding: 40px;
    box-sizing: border-box;
    background: #FFF;
    border-radius: 40px;
    margin-bottom: 40px;
    margin-top: 24px;

    .period-pick {
      @include flex(row, flex-start, nowrap);
      justify-content: space-between;
      background-color: #D9E5FF;
      border: #2574FF 1px solid;
      align-items: center;
      box-sizing: border-box;
      border-radius: 20px;
      height: 72px;
      margin-top: 32px;

      .details {
        @include flex(row, flex-start, nowrap);
        align-items: center;
        margin-right: 24px;
      }
    }
  }
}

.desc-font {
  @include pingfang-font(#333333 , 26px, 400);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.name-font {
  @include pingfang-font(#333333 , 48px, 500);
}

.level-font {
  @include pingfang-font(#646464 , 32px, 500);
}

.price-font {
  @include pingfang-font(#3D5AF2 , 26px, 450);
}

.link-font {
  @include pingfang-font(#2574FF , 28px, 400);
}

.custom-color {
  color: #1989fa;
  
  .taroify-loading__text {
    color: #1989fa;
  }
}

.empty {
  width: 100%;
  padding: 0;
  .taroify-empty__description {
    padding: 0;
    @include pingfang-font(#000000 , 24px, 500);
  }
}

.custom-empty__image {
  width: 120px;
  height: 120px;
}

.popup-details {
  @include flex(column, flex-start, nowrap);
  align-items: center;
  .title {
    padding: 32px;
    @include pingfang-font(#000000 , 28px, 500);
  }

  .about {
    @include flex(row, flex-start, nowrap);
    align-items: center;
    margin-left: 20px;
    margin-top: 24px;
    width: 100%;
    padding-left: 24px;

    .dot {
      align-self: flex-start;
      margin-right: 24px;
      margin-top: 4px;
    }

    .details {
      @include flex(column, flex-start, nowrap);
      .dot-title {
        @include pingfang-font(#000000 , 32px, 500);
      }
      .desc {
        margin-top: 12px;
        @include pingfang-font(#333333 , 26px, 400);
      }
    }
  }
}